.serviceBox {
    position: relative;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    text-align: left;
    width: fit-content;
    padding: 10px;
    background-color: var(--box_bg);
}

.serviceBox.left {
    position: absolute;
    left: 23%;
}
.serviceBox.middle {
    position: absolute;
    left: 41%;
}
.serviceBox.right {
    position: absolute;
    left: 59%;
}

.serviceBox.createService {
    position: absolute;
    left: 77%;
}

table td {
    vertical-align: top;
}

textarea {
    width: 15em;
    height: 10em;
}