.userBox {
    position: relative;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    text-align: left;
    width: fit-content;
    padding: 10px;
    background-color: var(--dark);
}

.userBox.left {
    transform: translate(-20%, 0%);
}
.userBox.right {
    position: absolute;
    right: 5%;
    /* transform: translate(75%, 0%); */
}

table td {
    vertical-align: top;
}

textarea {
    width: 15em;
    height: 10em;
}

.saveBtn {
    position:absolute;
    top: 3px;
    right: 3px;
}

.saveBtn.disabled {
    background-color: var(--dark);
}

.saveBtn.disabled:hover {
    background-color: var(--dark);
}