.loginBox {
    margin: auto;

    width: fit-content;
    height: fit-content;

    background-color: lightgrey;
    padding: 1em;
    padding-top: .5em;
    margin-top: 5em;
}

.loginTable {
    margin: auto;
    width: min-content;
}

.parentDiv {

}