.loginBox {
    margin: auto;

    width: fit-content;
    height: fit-content;

    background-color: var(--dark);
    padding: 1em;
    padding-top: .5em;
    margin-top: 5em;
}

.loginTable {
    margin: auto;
    width: min-content;
}

.parentDiv {

}

.loginErrorLabel {
    background-color: red;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .2em;
}

.loginSuccessLabel {
    background-color: green;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .2em;
}