.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--element_bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  background-color: var(--element_bg);
  color: var(--color);
  border: 1px;
  padding: 3px;
}

button:hover {
  background-color: var(--highlight);
}
button:active {
  background-color: var(--box_bg);
}

textarea {
  color: var(--color);
  border: 1px solid var(--element_border);
  background-color: var(--element_bg);
}


input {
  color: var(--color);
  border: 1px solid var(--element_border);
  background-color: var(--element_bg);
}

.largeButton {
  background-color: var(--element_bg);
  color: var(--color);
  border: 1px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.largeButton:hover {
  background-color: var(--highlight);
}

.errorLabel {
  background-color: red;
  color: white;
}

.successLabel {
  background-color: green;
  color: white;
}

select {
  color: var(--color);
  background-color: var(--element_bg);
  border: var(--element_border);
}

select option {

}

.saveBtn {
  position:absolute;
  top: 3px;
  right: 3px;
}

.saveBtn.disabled {
  background-color: var(--box_bg);
}

.saveBtn.disabled:hover {
  background-color: var(--box_bg);
}

.searchBox {
  width: 30%;
  height: 2em;
  
}